
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadLayoutComponentPartial")
<body>
	<div class="wrapper">
		<!-- Sidebar -->
        @await Component.InvokeAsync("_SidebarLayoutComponentPartial")
		<!-- End Sidebar -->
        @await Component.InvokeAsync("_MainPanelLayoutComponentPartial")

		@RenderBody()

        @await Component.InvokeAsync("_FooterLayoutComponentPartial")
	</div>

	<!-- Custom template | don't include it in your project! -->
    @await Component.InvokeAsync("_SettingLayoutComponentPartial")
	<!-- End Custom template -->
	</div>
    @await Component.InvokeAsync("_ScriptLayoutComponentPartial")
</body>
</html>
